.abTable {
  background-color: #f9faff;
  border-radius: 3%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px -2px rgba(0, 0, 0, 0.2);
}

.abTableHead {
  font-size: 14px;
  color: #898989;
  font-weight: bold;
}
.abHead {
  font-size: 18px;
  color: #03a9f4;
  font-weight: bold;
}

.abTableData {
  font-size: 12px;
  color: #696969;
  font-weight: bold;
}

.abTableData .abTable {
  text-align: center;
}
