.port-navbar {
  width: 100%;
  z-index: 100 !important;
  padding: 25px;
  /* background-color: #f47625; */
}
/* .port-navbar-background-color {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  background: url("image/header-bg.png");
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -5px !important;
  margin-bottom: 62.5rem !important;
} */

.port-navbar-background-color {
  background-color: #2a2a72;
  background: url("image/header-bg.png");
  padding: 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -70px !important;
  margin-bottom: 3.5rem !important;
}

.absolute {
  position: absolute;
}
.port-navbar-is-open {
  background-color: #0057a4;
}

.port-navbar-is-close {
  transition: 1s;
}
.nav-brand {
  z-index: 100;
}
.nav-item-link {
  color: white !important;
  /* font-weight: bold; */
  letter-spacing: 0.8px;
  font-size: 18px;
  margin: 0px;
  margin-left: 35px;
  margin-right: 35px;
}
.item-underline {
  border-bottom: 4px solid #fff;
  padding-bottom: 3px;
}

.cursor-text {
  cursor: text;
}
